# üß† Prepara√ß√£o de Vari√°veis Categ√≥ricas para Modelos de Regress√£o

## üéØ Objetivo
Converter vari√°veis categ√≥ricas em num√©ricas usando **One-Hot Encoding**, e preparar o dataset para uso em modelos de regress√£o.

## üì¶ Etapa 1: Importar bibliotecas

In [1]:
import pandas as pd

## üìÇ Etapa 2: Carregar o dataset

In [2]:
df = pd.read_csv("exame_diabes.csv")
df.head()

   id_paciente genero  idade  peso  altura  resultado
0            1      M     46    83     165         98
1            2      F     23    83     164         82
2            3      M     39    71     154         93
3            4      F     26   103     165         95
4            5      M     27    55     176        100

## üîç Etapa 3: Remover colunas irrelevantes

In [3]:
# 'id_paciente' √© uma coluna apenas identificadora
df = df.drop(columns=["id_paciente"])

## üß† Etapa 4: Aplicar One-Hot Encoding na vari√°vel 'genero'

In [4]:
df_encoded = pd.get_dummies(df, columns=["genero"], drop_first=True)
df_encoded.head()

   idade  peso  altura  resultado  genero_M
0     46    83     165         98      True
1     23    83     164         82     False
2     39    71     154         93      True
3     26   103     165         95     False
4     27    55     176        100      True

## ‚ÑπÔ∏è Etapa 5: Visualizar o resultado

In [5]:
print("Colunas ap√≥s codifica√ß√£o:")
print(df_encoded.columns)

Colunas ap√≥s codifica√ß√£o:
Index(['idade', 'peso', 'altura', 'resultado', 'genero_M'], dtype='object')

## ‚úÖ Conclus√£o
Agora temos:
- A vari√°vel 'genero' convertida em bin√°ria (`genero_M`)
- Somente vari√°veis num√©ricas no dataset
- Pronto para ser utilizado em modelos de regress√£o